name: Publish Squword Docker image

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 3 * * 1'
  push:
    branches:
      - master
    paths:
      - package.json

jobs:
  build-and-push-image:
    name: Push Docker image github
    runs-on: ubuntu-latest
    container:
      image: docker.io/docker:latest
      options: --user root
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate build ID
        id: prep
        run: |
          sha=${GITHUB_SHA::8}
          ts=$(date +%s)
          echo "::set-output name=BUILD_ID::${sha}-${ts}"

      - name: Build and push Docker images
        id: push_squword
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64, linux/arm64
          push: true
          tags: ghcr.io/hippogriffin/squword:${{ steps.prep.outputs.BUILD_ID }}
      
